In [1]:
import pandas as pd
import numpy as np
import time as tm

In [2]:
size=0
start_time=tm.time()
columns=['msno','x_login_type_desc','song_id','played_at','song_length','played_length']
for ii in range(97,101,1):
    for j in range(97,123,1):
        file_name='1'+chr(ii)+chr(j)
        if(file_name=='1aa'):
            df=pd.read_csv(file_name,sep='\t')
        else:
            df=pd.read_csv(file_name,sep='\t',names=columns)
        df=df.dropna()
        #df['played_at']=df['played_at'].apply(lambda n : pd.to_datetime(n))
        df['played_at']=pd.to_datetime(df['played_at'], errors='coerce')
        df=df.dropna()
        df['year']=df['played_at'].dt.year
        df['month']=df['played_at'].dt.month
        df['day']=df['played_at'].dt.day
        df['week']=df['played_at'].dt.weekday_name
        df=df[df['year']==2016]
        df=df[df['month']==12]
        df=df[df['song_length']!=0]
        df.drop(['year','x_login_type_desc','song_length','played_length'], axis=1, inplace=True)
        df.to_csv(file_name,sep='\t',encoding='utf-8',index=False)
        print ('File_name:%s Data_size:%d'%(file_name,len(df)))
        size=size+len(df)
        if(ii==100 and j==108):
            break
end_time=tm.time()-start_time
print ('Data_size:%d Process_time:%d'%(size,end_time))

File_name:1aa Data_size:9687301
File_name:1ab Data_size:9700188
File_name:1ac Data_size:9705197
File_name:1ad Data_size:9732410
File_name:1ae Data_size:9765015
File_name:1af Data_size:9770643
File_name:1ag Data_size:9783438
File_name:1ah Data_size:9844810
File_name:1ai Data_size:9850995
File_name:1aj Data_size:9855871
File_name:1ak Data_size:9850763
File_name:1al Data_size:9860679
File_name:1am Data_size:9853942
File_name:1an Data_size:9850046
File_name:1ao Data_size:9824256
File_name:1ap Data_size:9794509
File_name:1aq Data_size:9735526
File_name:1ar Data_size:9705996
File_name:1as Data_size:9679172
File_name:1at Data_size:9724253
File_name:1au Data_size:9757820
File_name:1av Data_size:9709329
File_name:1aw Data_size:9668192
File_name:1ax Data_size:9703546
File_name:1ay Data_size:9729828
File_name:1az Data_size:9686017
File_name:1ba Data_size:9716124
File_name:1bb Data_size:9735322
File_name:1bc Data_size:9609188
File_name:1bd Data_size:9694503

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,2,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

File_name:1be Data_size:9684069
File_name:1bf Data_size:9560548
File_name:1bg Data_size:9561706
File_name:1bh Data_size:9640248
File_name:1bi Data_size:9668524
File_name:1bj Data_size:9708336
File_name:1bk Data_size:9634289
File_name:1bl Data_size:9599928
File_name:1bm Data_size:9601911
File_name:1bn Data_size:9703222
File_name:1bo Data_size:9743641
File_name:1bp Data_size:9729292
File_name:1bq Data_size:9753046
File_name:1br Data_size:9748575
File_name:1bs Data_size:9788164
File_name:1bt Data_size:9781480
File_name:1bu Data_size:9771979
File_name:1bv Data_size:9768742
File_name:1bw Data_size:9557470
File_name:1bx Data_size:9500403
File_name:1by Data_size:9425212
File_name:1bz Data_size:9557471
File_name:1ca Data_size:9537824
File_name:1cb Data_size:9733748
File_name:1cc Data_size:9763536
File_name:1cd Data_size:9527613
File_name:1ce Data_size:9404952
File_name:1cf Data_size:9461887
File_name:1cg Data_size:9241138
File_name:1ch Data_size:9410046
File_name:1ci Data_size:9318411
File_name:1cj Data_size:9689690
File_name:1ck Data_size:9681076
File_name:1cl Data_size:9559228
File_name:1cm Data_size:9579608
File_name:1cn Data_size:9739726
File_name:1co Data_size:9255106
File_name:1cp Data_size:8902244
File_name:1cq Data_size:8776417
File_name:1cr Data_size:9303925
File_name:1cs Data_size:9477346
File_name:1ct Data_size:9415457
File_name:1cu Data_size:9595944
File_name:1cv Data_size:9847574
File_name:1cw Data_size:9751441
File_name:1cx Data_size:9654603
File_name:1cy Data_size:9748849
File_name:1cz Data_size:9690684
File_name:1da Data_size:9610601
File_name:1db Data_size:9489249
File_name:1dc Data_size:8679827
File_name:1dd Data_size:9185430
File_name:1de Data_size:9821339
File_name:1df Data_size:9795959
File_name:1dg Data_size:9606578
File_name:1dh Data_size:9637782
File_name:1di Data_size:9804036
File_name:1dj Data_size:9775261
File_name:1dk Data_size:9762801
File_name:1dl Data_size:7487137
Data_size:864797208 Process_time:5546

In [3]:
df.head()

           msno    song_id               played_at  month  day      week
0       5471836  159134550 2016-12-11 09:04:33.354     12   11    Sunday
1      12628193  143715991 2016-12-12 09:32:59.000     12   12    Monday
2      66768647  171890544 2016-12-10 01:58:21.224     12   10  Saturday
3  338067507366    5975275 2016-12-12 09:19:24.393     12   12    Monday
4     127131638  174913074 2016-12-12 09:22:43.282     12   12    Monday